body {
	background-color: black;
}

p {
	background-color: darkslategray;
	font-family: sans-serif;
	padding: 5px;
	color: white;
	border: 2px solid seagreen;
	clear: both;
}

#codec-top {
	height: 200px;
}

.otacon-portrait {
	float: left;
	height: 100%;
	filter: saturate(110%) brightness(65%) hue-rotate(95deg);
}

.snake-portrait {
	float: right;
	height: 100%;
}

.otacon {
	text-align: start;
}

.snake {
	text-align: end;
}
